body{
    margin: 0px;
    padding: 0px;
}
.list{
    display: flex;
    align-items: center;
}
.nav-list{
    list-style-type: none;
    display: flex;
}
.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-right: 20px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    /* color: #fff; */
    background-color: #fff;
    font-family: arial;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}
.navbar2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-family: arial;
    opacity: 0.9;
    
    /* padding: 20px; */
    width: 100%;
    font-weight: 500;
}
.nav2-text{
    margin-left: 20px;
}
.nav2-btn{
    background-color: #50ccff;
    padding: 10px 20px;
    color: #fff ;
    text-transform: uppercase;
    margin: 20px;
    
}

/* -------------------------- */

#hero-container{
    background-image: url("media/billboard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* -------------------------- */

#sec-container{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.mcontainer{
    width: 70%;
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px 50px 80px 50px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    /* width: 33%; */
}
.card{
    display: flex;
    justify-items: center;
    text-align: center;
    grid-template-columns: auto;
    margin: 20px;
    flex-direction: column;
    
}
.bcr{
    font-family:'Arial';
    color: #6e6e6e;
}
.shead{
    margin: 20px 0px 10px 0px;
    padding: 0px;
    /* color: #6e6e6e; */
    font-family: Arial;
}
.scontent{
    margin: 0px;
    padding: 0px;
    /* font-family: Arial; */
}
.separator{
    width: 70%;
}
/* ---------- */

.gallery-container{
    display: flex;
    /* grid-template-columns: repeat(5,1fr); */
    /* width: 100%; */
    gap: 0px;
}
.gallery-img{
    width: 20%;
}

/* ---------- */

.t-head{
    text-align: center;
    text-transform: uppercase;
    margin-top: 90px;
}
#testimonials{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.testimonials-container{
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 0px;
    /* padding: 10px; */
    width: 60%;
    font-size: 14px;
    gap: 10px;
}
.john{
    font-weight: 800;
}
.timage{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.tcard{
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: auto;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    height: 20%;
}
.tcontainer{
    display: flex;
    justify-content: center;
    margin: 30px 0px 70px 0px;
    
}
.tcontent{
    padding: 0px;
    margin: 0px;
    /* height: 30px; */
    
}
.brand{
    display: flex;
    justify-content: center;
    background-color: #f2f1f1;
}
.brand-main{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 60%;
}

/* -------------- */

#footer{
    background-color: #353535;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    color: #fff;
    font-family: Arial;
    
    /* justify-content: center; */
    /* flex-direction: column; */
}
.navbar2-copy{
    background-color: #434343;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: arial;
    font-size: 18px;
    /* padding: 20px; */
    width: 55%;
    padding: 1.5%;
    font-weight: 500;
    color: #fff;
}
.nav2-btn-copy{
    background-color: #50ccff;
    font-size: 18px;
    padding: 1% 7%;
    color: #fff ;
    border: none;
    margin-left: 15px;
    text-transform: uppercase;
    /* margin: 20px; */
}
.fcontainer{
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    justify-content: space-around;
    width: 60%;
    padding: 20px;
    margin: 50px;
}
.flist{
    list-style: none;
    padding: 0px;
}
.flist > li{
    margin-bottom: 10px;
}
.fcard{
    margin: 20px;
    width: 25%;
}
.fhead{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}
.copy-right{
    margin-bottom: 20px;
}